body {
    margin: 0 0;
    font-family: 'Abel', 'sans-serif';
    color: #434343;
    font-size: 18px;
    box-sizing: border-box;
}
main {
    margin-top: 100px;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 10px 0;
    background-color: white;
    z-index: 10;
}

.navbar .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    padding: 10px;
    text-transform: uppercase;
}
.navbar #logo {
    padding: 0 30px;
}
.navbar .download {
    padding: 0 30px;
}

.hero {
    width: 100%;
    overflow: hidden;
}
.hero-details {
    position: absolute;
    top: 100px;
    left: 0;
    background: #FFD9CD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 100px 85px;
    margin: 85px 0;
}

.hero-details h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 120% */
}

.hero-img {
    /* position: relative; */
    padding-left: 100px;
    width: 100%;
    /* background-image: url("media/hero.png");
    background-repeat: no-repeat;
    background-size: cover; */
}

.features {
    width: 80%;
    padding: 0 150px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.alt-row {
    background: #EBEBEB;
}

.highlighted-features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.highlighted-features h3 {
    font-family: 'Nanum Gothic', sans-serif;
    color: #434343;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.messages, .calls, .calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.messages {

}
.calls {

}
.calendar {

}

.preview .row, .preview .alt-row {
    padding: 0 10%;
}

.fact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}


.footer {
    width: 100%;
    background: #D07658;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.links {
    grid-column: 6;
    grid-row: 1;
    text-decoration: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 50px; */
    min-width: 120px;
    padding: 10px 50px;
    border-radius: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Nanum Gothic', 'sans-serif';
    text-decoration: none;
}

.primary-button {
    border: 1px solid #D07658;
    background: var(--White, #FFF);
    color: #D07658;

}

.secondary-button {
    background: #434343;
    color: var(--White, #FFF);

}
