body {
    margin: 0 0;
    font-family: 'Abel', 'sans-serif';
    color: #434343;
    font-size: 18px;
    box-sizing: border-box;
}
main {
    margin-top: 100px;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;;
    background-color: white;
    z-index: 10;
    box-shadow:  0 1px 8px  #434343;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 10px 0;
}

.navbar .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.navbar .nav-items a {
    text-decoration: none;
    transition: font-size 0.2s;
}
.navbar .nav-items a:hover {
    color: #D07658;
    font-size: 22px;
}
.navbar #logo {
    padding: 0 30px;
}
.navbar .download {
    padding: 0 30px;
}

.hero {
    width: 100%;
    overflow: hidden;
}
.hero-details {
    position: absolute;
    top: 100px;
    left: 0;
    background: #FFD9CD;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 400px;
    padding: 100px 85px;
    margin: 85px 0;
}

.hero-details h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
}
.hero-details a {
    margin-top: 25px;
}

.hero-img {
    padding-left: 100px;
    width: 100%;
    height: 860px;
    overflow: hidden;
}
.hero-img img {
    width: 100%;
}

.features {
    width: 80%;
    padding: 0 150px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}
.alt-row {
    background: #EBEBEB;
}

.highlighted-features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.highlighted-features h3 {
    font-family: 'Nanum Gothic', sans-serif;
    color: #434343;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.messages, .calls, .calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.messages {

}
.calls {

}
.calendar {

}

.preview {
    margin: 0 auto;
}

.preview .row, .preview .alt-row {
    width: 80%;
    padding: 0 150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.preview .fact {
    /* width: 40%;
    padding: 0 10%; */
    grid-column: 1 / 3;
    grid-row: 1;
}
.preview img {
    /* width: 20%; */
    grid-column: 3;
    grid-row: 1;
    margin: 0 auto;
}
.preview .alt-row .fact {
    grid-column: 2 / 4;

}
.preview .alt-row img {
    /* width: 20%; */
    grid-column: 1;
    grid-row: 1

}
.fact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}
.preview .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    width: 100%;
    background: #D07658;
}

.footer {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1;
    padding-top: 25px;
    padding-bottom: 50px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.footer .column a {
    padding-top: 5px;
}

.links {
    grid-column: 6;
    grid-row: 1;
    text-decoration: none;
}

select::-ms-expand { display: none; }
#language-picker-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--White, #FFF);
    padding: 10px 20px;
    background-color: transparent;
    font-family: "Nanum Gothic", sans-serif;
    color: white;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* gap: 80px; */
    background-image: url("../media/tabler_chevron-up.svg");
    
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    /* pointer-events: none; */
    margin-bottom: 100px;
}
#language-picker-select:active {
    color: #434343;
}


#language-picker-select:focus-visible {
    outline-color: white;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials svg {
    margin-left: 0;
    margin-right: 18px; 
    width: 36px;
    height: 36px;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 36px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 50px; */
    min-width: 120px;
    padding: 10px 50px;
    border-radius: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Nanum Gothic', 'sans-serif';
    text-decoration: none;
}

.primary-button {
    border: 1px solid #D07658;
    background: var(--White, #FFF);
    color: #D07658;

}

.secondary-button {
    background: #434343;
    color: var(--White, #FFF);

}



@media screen  {
    
}